<!DOCTYPE html>
<!--
{% macro pagination(url,page) %}
    <ul class="pagination">
        {% if page.has_previous %}
            <li><a href="{{ url }}{{ page.page_index-1 }}"><i class="fa fa-angle-double-left"></i></a></li>
        {% else %}
            <li class="disabled"><span><i class="fa fa-angle-double-left"></i></span></li>
        {% endif %}
            <li class="active"><span>{{ page.page_index }}</span></li>
        {% if page.has_next %}
            <li><a href="{{ url }}{{ page.page_index+1 }}"><i class="fa fa-angle-double-right"></i></a></li>
        {% else %}
            <li class="disabled"><span><i class="fa fa-angle-double-right"></i></span></li>
        {% endif %}
    </ul>
{% endmacro %}
-->
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    {% block meta %}<!-- block meta -->{% endblock %}
    <title>{% block title %} ? {% endblock %} - TWATHIT的博客</title>
    <!-- <link rel="stylesheet" href="/static/css/uikit.min.css">
    <link rel="stylesheet" href="/static/css/uikit.gradient.min.css"> -->
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <script src="/static/js/sha1-3.1.9.min.js"></script>
    <!-- <script src="/static/js/uikit.min.js"></script> -->
    <script src="/static/js/sticky.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.js"></script>
    <script src="/static/js/vue.min.js"></script>
    <script src="/static/js/awesome.js"></script>
    {% block beforehead %}<!-- before head -->{% endblock %}
</head>
<body>
    <div id="top">
        <a href="javascript:;" title="返回顶部"></a>
    </div>
    <div class="push">
        <nav class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <a href="/" class="navbar-brand"></a>
                </div>           
                <ul class="nav navbar-nav to-active">
                    <li><a href="/"><span class="glyphicon glyphicon-home"></span>日志</a></li>
                    <li><a href="/manage/blogs/{{__user__.name}}"><span class="glyphicon glyphicon-user"></span>我的</a></li>
                    <li><a target="_blank" href="#"><span class="glyphicon glyphicon-film"></span>电影</a></li>
                    <li><a target="_blank" href="#"><span class="glyphicon glyphicon-option-horizontal"></span>更多</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right t-active">
                {% if __user__ %}
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user"></span>{{ __user__.name }}</a>
                        <ul class="dropdown-menu">                            
                            <li ><a href="/manage/blogs/{{__user__.name}}"><span class="glyphicon glyphicon-user"></span>我的</a></li>
                            <li ><a href="/manage/blog/create"><span class="glyphicon glyphicon-plus"></span>新日志</a></li>
                            <li class="divider"></li>
                            <li><a href="/signout"><span class="glyphicon glyphicon-log-out"></span>登出</a></li>                            
                        </ul>
                    </li>
                {% else %}
                    <li><a href="/signin"><span class="glyphicon glyphicon-log-in"></span>登录</a></li>
                    <li><a href="/register"><span class="glyphicon glyphicon-edit"></span>注册</a></li>
                {% endif %}
                </ul>
            </div>
        </nav>
        <div class="container">
            <div class="row">
                {% block content %}
                {% endblock %}
            </div>        
        </div>
    </div>
    <div class="footer">                    
                <p>
                    <a target="_blank" href="https://github.com/twathit" class="fa fa-lg fa-github"></a>
                    <a target="_blank" href="#" class="fa fa-lg fa-google"></a>
                    <a target="_blank" href="#" class="fa fa-lg fa-twitter"></a>
                    <a target="_blank" href="#" class="fa fa-lg fa-html5"></a>
                </p>
                <p>Powered by <a href="https://github.com/twathit">TWATHIT</a>. Copyright &copy; 2018.[<a href="/manage/" target="_blank">Manage</a>]</p>
                <div><b>时间不逝，圆圈不圆</b></div>
            
    
    </div>
    <script type="text/javascript" src="/static/js/canvas-nest.js"></script>
    <script type="text/javascript">
        $(function(){
            $(window).scroll(function(){
                if ($(window).scrollTop()>=300){
                    $('#top').fadeIn(500);
                }else{
                    $('#top').fadeOut(500);
                }
            });
            $('#top').click(function(){
                $('html,body').animate({scrollTop:'0px'},800);
            });
        });
    </script>
</body>
</html>