{% extends '__base__.html' %}
{% block title %}日志{% endblock %}
{% block beforehead %}
<script>
    $(function(){
        $('ul.to-active li:first-child').addClass('active');
    });
</script>
{% endblock %}
{% block content %}
    <div class="col-xs-9 col-xs-full animated fadeInDown">
    {% for blog in blogs %}
        <article class="article">
            <div class="item">
                <h2><a class="title" href="/blog/{{blog.id}}">{{blog.name}}</a></h2>
                
                <div class="info">
                    <span class="avatar"><img src="{{blog.user_image}}"></span>
                    <span>{{blog.user_name}}</span>
                    <span class="status">发表于{{blog.created_at|datetime}} · </span>
                    {% if blog.tags %}                    
                        {% for tag in blog.tags %}
                        <span class="label label-info">{{tag}}</span>
                        {% endfor %}
                    {% endif %}
                    <span class="count">阅读量:{{blog.count}}</span>
                </div>
                <div class="content">
                    <p>{{blog.html_content|summary|safe}}</p>
                </div>
                
                <p><a href="/blog/{{blog.id}}">
                    <button class="btn btn-default">继续阅读<i class="fa fa-angle-double-right"></i></button>
                </a></p>
            </div>
        </article>
    {% endfor %}
    {{ pagination('/?page=',page) }}
    </div>
    <div class="col-xs-3">
        <div class="panel panel-info hidden-xs hidden-sm">
            <div class="panel-heading">                
                <h3 class="panel-title"><span class="glyphicon glyphicon-link"></span>友情链接</h3>
            </div>
            
            <ul class="list-group">
                <li class="list-group-item">
                    <i class="fa fa-external-link list"></i><a target="_blank" href="https://github.com/twathit">Github</a>
                </li>
                <li class="list-group-item">
                    <i class="fa fa-external-link list"></i><a target="_blank" href="https://www.liaoxuefeng.com/wiki/0014316089557264a6b348958f449949df42a6d3a2e542c000">Python教程</a>
                </li>
                <li class="list-group-item">
                    <i class="fa fa-external-link list"></i><a target="_blank" href="http://www.liaoxuefeng.com/wiki/0013739516305929606dd18361248578c67b8067c8c017b000">Git教程</a>
                </li>
            </ul>            
        </div>
        <div class="panel panel-info hidden-xs hidden-sm">
            <div class="panel-heading">
                <h3 class="panel-title"><span class="glyphicon glyphicon-tags"></span>标签云</h3>
            </div>
            <div class="panel-body tags">
                <a href="/blogs/python" class="btn btn-xs btn-default btn-round btn-tags">
                    <span class="text-sm">Python</span>
                </a>
                <a href="/blogs/javascript" class="btn btn-xs btn-default btn-round btn-tags">
                    <span class="text-sm">JavaScript</span>
                </a>
                <a href="/blogs/html" class="btn btn-xs btn-default btn-round btn-tags">
                    <span class="text-sm">HTML</span>
                </a>
                <a href="/blogs/css" class="btn btn-xs btn-default btn-round btn-tags">
                    <span class="text-sm">CSS</span>
                </a>
                <a href="/blogs/linux" class="btn btn-xs btn-default btn-round btn-tags">
                    <span class="text-sm">Linux</span>
                </a>
                <a href="/blogs/sql" class="btn btn-xs btn-default btn-round btn-tags">
                    <span class="text-sm">SQL</span>
                </a>
                <a href="/blogs/网络" class="btn btn-xs btn-default btn-round btn-tags">
                    <span class="text-sm">网络</span>
                </a>
                <a href="/blogs/其它" class="btn btn-xs btn-default btn-round btn-tags">
                    <span class="text-sm">其它</span>
                </a>

            </div>
        </div>
    </div>
{% endblock %}