{% extends '__base__.html' %}

{% block title %}{{ blog.name }}{% endblock %}

{% block beforehead %}

<script>

var comment_url='/api/blogs/{{ blog.id }}/comments';

// $('#click').click(function(blog){
//      location.assign('/manage/blogs/edit?id='+blog.id);
//      }
// });

$(function() {
    var vm = new Vue({
        el:'#vm',
        methods:{
            edit_blog:function (blog){
                location.assign('/manage/blog/edit?id={{blog.id}}');
            }
        }
    });
});

$(function () {
    var $form = $('#form-comment');
    $form.submit(function (e) {
        e.preventDefault();
        $form.showFormError('');
        var content = $form.find('textarea').val().trim();
        if (content==='') {
            return $form.showFormError('请输入评论内容！');
        }
        $form.postJSON(comment_url, { content: content }, function (err, result) {
            if (err) {
                return $form.showFormError(err);
            }
            refresh();
        });
    });
});
</script>

{% endblock %}

{% block content %}
    <div class="col-xs-9 col-xs-full animated fadeInDown">
        <article class="article">
            <div class="paper">
                <div class="title">
                    <h2>{{ blog.name }}</h2>
                </div>
                
                {% if __user__ %}
                <div id="vm">
                    <a href="#" v-on:click="edit_blog({{blog}})">
                        <i class="glyphicon glyphicon-edit"></i>
                    </a>
                </div>
                {% endif %}
                <div class="info">
                    <span class="status">发表于{{ blog.created_at|datetime}} · </span>
                    {% for tag in blog.tags %}
                    <span class="label label-info">{{tag}}</span>
                    {% endfor %}
                    <span class="count">阅读量:{{blog.count}}</span>
                </div>
                <div class="content">
                    <p>{{ blog.html_content|safe }}</p>
                </div>                
            </div>            
        </article>
    {% if __user__ %}
        <h3>发表评论</h3>
        <article>
            <header class="comment-heading clearfix">
                <img class="comment-avatar"src="{{ __user__.image }}">
                <h4 class="comment-title">{{ __user__.name }}</h4>
            </header>
            <div class="comment-body">
                <form id="form-comment">
                    <div class="alert alert-warning hidden"></div>
                    <div class="form-group">
                        <textarea class="form-control" rows="6" placeholder="说点什么吧" style="width:100%;resize:none;"></textarea>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-comment"></i> 发表评论</button>
                    </div>
                </form>
            </div>
        </article>
    {% else %}
        <div class="prompt"><a href="/signin">登录</a>方可评论</div>
    {% endif %}
        <h3>最新评论</h3>
        <ul class="comment list-unstyled">
            {% for comment in comments %}
            <li>
                <article>
                    <header class="comment-header">
                        <img class="comment-avatar" src="{{ comment.user_image }}">
                        <h4 class="comment-title">{{ comment.user_name }}{% if comment.user_id==blog.user_id %}(作者){% endif %}</h4>
                        <p class="comment-meta">{{ comment.created_at|datetime }}</p>                    
                    </header>
                    <!-- <div class="comment-body"> -->
                        
                        <div class="comment-content">
                            <div class="hr-dashed"></div>
                            {{ comment.html_content|safe }}
                        </div>
                        <div class="hr-solid"></div>
                    <!-- </div> -->
                </article>
            </li>
            {% else %}
            <p>还没有人评论...</p>
            {% endfor %}
        </ul>
    </div>
    <div class="col-xs-3">
        <div class="panel panel-default hidden-xs hidden-sm">
                <img class="img-responsive img-circle center-block" src="{{ blog.user_image }}">
                <h3 class="text-center">{{ blog.user_name }}</h3>
                <div class="text-center">{{ user.created_at|datetime }}</div>
            
        </div>
        <div class="panel panel-info hidden-xs hidden-sm">
            <div class="panel-heading">
                <h3 class="panel-title">友情链接</h3>
            </div>
            
            <ul class="list-group">
                <li class="list-group-item">
                    <i class="fa fa-external-link list"></i><a target="_blank" href="https://github.com/twathit">Github</a>
                </li>
                <li class="list-group-item">
                    <i class="fa fa-external-link list"></i><a target="_blank" href="https://www.liaoxuefeng.com/wiki/0014316089557264a6b348958f449949df42a6d3a2e542c000">Python教程</a>
                </li>
                <li class="list-group-item">
                    <i class="fa fa-external-link list"></i><a target="_blank" href="http://www.liaoxuefeng.com/wiki/0013739516305929606dd18361248578c67b8067c8c017b000">Git教程</a>
                </li>
            </ul>            
        </div>
    </div>
{% endblock %}