{% extends '__base__.html' %}
{% block title %}编辑日志{% endblock %}
{% block beforehead %}
<script>
var
    ID='{{id}}',
    action='{{action}}';

function initVM(blog){
    var vm = new Vue({
        el: '#vm',
        data: blog,
        delimiters:['${','}'],
        methods: {
            submit: function (event) {
                event.preventDefault();
                var $form = $('#vm').find('form');
                $form.postJSON(action, this.$data, function (err, r) {
                    if (err) {
                        $form.showFormError(err);
                    }
                    else {
                        //return location.assign('/api/blogs/'+r.id);
                        return location.assign('/blog/'+r.id);
                    }
                });
            },
            add:function(tag,event) {
                this.tags.push(tag);
                event.currentTarget.classList.add('active');
            },
            delete:function(index,event) {
                this.tags.splice(index,1);
                
            }
        }
    });
}

$(function (){
    if  (ID) {
        getJSON('/api/blogs/'+ID, function(err, blog){
            if (err) {
                return fatal(err);
            }
            $('#loading').hide();
            initVM(blog);
        });
    }
    else {
        $('#loading').hide();
        initVM({
            name:'',
            tags:[],
            summary:'',
            content:''
        });
    }
});

</script>
{% endblock %}
{% block content %}
    <div class="col-xs-8">
        <ul class="breadcrumb">
            <li><a href="/manage/comments/{{__user__.name}}">评论</a></li>
            <li><a href="/manage/blogs/{{__user__.name}}">日志</a></li>
            <li><a href="/manage/users/{{__user__.name}}">用户</a></li>
        </ul>
    </div>
    <div id="error" class="col-xs-12">
    </div>
    <div id="loading" class="col-xs-12 center-text">
        <span><i class="fa fa-spinner fa-pulse fa-lg"></i>正在加载...</span>
    </div>
    <div id="vm" class="col-xs-8">
        <form>
            <div class="alert alert-warning hidden"></div>
            <div class="form-group">
                <label for="for-name">标题：</label>                
                <input class="form-control" id="for-name" v-model="name" name="name" type="text" placeholder="标题" class="col-xs-12">
            </div>
            <div class="form-group">
                <label for="for-tag">标签：</label>
                <a v-for="(tag,index) in tags" class="btn btn-xs btn-default btn-round btn-tags">
                    <span class="text-sm">${tag}<span v-on:click="delete(index,$event)">&times</span></span>
                </a>                
                <input class="form-control" id="for-tag" v-model="tags" name="tags" type="text" placeholder="添加个标签吧" class="col-xs-12">
                <div class="panel-body tags">
                    <a v-on:click="add('Python',$event)" class="btn btn-xs btn-default btn-round btn-tags">
                        <span class="text-sm">Python</span>
                    </a>
                    <a v-on:click="add('JavaScript',$event)" class="btn btn-xs btn-default btn-round btn-tags">
                        <span class="text-sm">JavaScript</span>
                    </a>
                    <a v-on:click="add('HTML',$event)" class="btn btn-xs btn-default btn-round btn-tags">
                        <span class="text-sm">HTML</span>
                    </a>
                    <a v-on:click="add('CSS',$event)" class="btn btn-xs btn-default btn-round btn-tags">
                        <span class="text-sm">CSS</span>
                    </a>
                    <a v-on:click="add('Linux',$event)" class="btn btn-xs btn-default btn-round btn-tags">
                        <span class="text-sm">Linux</span>
                    </a>
                    <a v-on:click="add('SQL',$event)" class="btn btn-xs btn-default btn-round btn-tags">
                        <span class="text-sm">SQL</span>
                    </a>
                    <a v-on:click="add('网络',$event)" class="btn btn-xs btn-default btn-round btn-tags">
                        <span class="text-sm">网络</span>
                    </a>
                    <a v-on:click="add('其它',$event)" class="btn btn-xs btn-default btn-round btn-tags">
                        <span class="text-sm">其它</span>
                    </a>
                </div>
            </div>            
            <div class="form-group">
                <label for="for-summary">摘要：</label>
                <textarea class="form-control" id="for-summary" v-model="summary" rows="4" name="summary" placeholder="摘要" class="col-xs-12" style="resize:none;"></textarea>
            </div>
            <div class="form-group">
                <label for="for-content">内容：</label>
                <textarea class="form-control" id="for-content" v-model="content" rows="16" name="content" placeholder="内容" class="col-xs-12" style="resize:none;"></textarea>
            </div>
            <div class="form-group">
                <button type="submit" v-on:click="submit" class="btn btn-primary"><i class="glyphicon glyphicon-floppy-save"></i>保存</button>
                <a href="/manage/blogs" class="btn btn-default"><i class="glyphicon glyphicon-remove"></i>取消</a>
            </div>
        </form>
    </div>
{% endblock %}
    
         
