{% extends '__base__.html' %}
{% block title %}用户{% endblock %}
{% block beforehead %}
<script>
function initVM(data){
    var vm=new Vue({
        el:'#vm',
        data:{
            users:data.users,
            page:data.page,
            page_index:{{page_index}},
        }
    });
}
$(function(){
        $('ul.to-active li:nth-child(2)').addClass('active');
    });
// $(function() {
//     getJSON('/api/users',{
//         page:{{ page_index }}
//     },function(err,results){
//         if (err){
//             return fatal(err);
//         }
//         $('#loading').hide();
//         initVM(results);
//     });
// });
$(function(){
    $.ajax({type:'get',
        url:'/api/users?page={{page_index}}'
    }).done(function(results){
       $('#loading').hide();
        initVM(results); 
    }).fail(function (jqXHR, textStatus) {
    ajaxLog('失败: ' + jqXHR.status + ', 原因: ' + textStatus);}
    )
});
</script>
{% endblock %}
{% block content %}
    <div class="col-xs-12">
        <ul class="breadcrumb">
            <li><a href="/manage/comments/{{__user__.name}}">评论</a></li>
            <li><a href="/manage/blogs/{{__user__.name}}">日志</a></li>
            <li class="active"><span>用户</span></li>
        </ul>
    </div>
    <div id="error" class="col-xs-12">
    </div>
    <div id="loading" class="col-xs-12 center-text">
        <span><i class="fa fa-spinner fa-pulse fa-lg"></i>正在加载...</span>
    </div>
    <div id="vm" class="col-xs-12">
        <div class="panel panel-order">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th class="col-xs-2">名字</th>
                        <th class="col-xs-4">电子邮件</th>
                        <th class="col-xs-4">注册时间</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="user in users">
                        <td>
                            <span v-text="user.name"></span>
                            <span v-if="user.admin" style="color:#d05"><i class="glyphicon glyphicon-lock"></i>(管理员)</span>
                        </td>
                        <td>
                            <a v-bind:href="'mailto:'+user.email" v-text="user.email"></a>
                        </td>
                        <td>
                            <span v-text="user.created_at.toDateTime()"></span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <pagination v-bind:page="page" v-bind:page_index="page_index"></pagination>
    </div>
{% endblock %}