{% extends '__base__.html' %}
{% block title %}登录{% endblock %}
{% block beforehead %}
<script>
    $(function(){
        $('ul.t-active li:first-child').addClass('active');
        var vmAuth=new Vue({
            el:'#vm',
            data:{
                email:'',
                password:''
            },
            methods:{
                submit:function(event){
                    event.preventDefault();
                    var
                        $form=$('#vm'),
                        email=this.email.trim().toLowerCase(),
                        data={
                            email:email,
                            password:this.password===''?'':CryptoJS.SHA1(email + ':' + this.password).toString()
                        };
                    $form.postJSON('api/authenticate',data,function(err,result){
                        if (!err){
                            var prevLink = document.referrer;
                            if($.trim(prevLink)=='' || $.trim(prevLink).indexOf('register')!=-1){
                                location.href = '/';
                            }
                            if($.trim(prevLink).indexOf('register')!=-1){
                                console.log(prevLink);
                            }
                            else{
                                location.href = prevLink;
                            }
                            //location.assign('/');
                        }
                    });
                }
            }
        });
    });
</script>
{% endblock %}
{% block content %}
    <div class="container-small">
        <h3><a href="/"><b class="font-KI">You Just Found Me!</b></a></h3>
        <form id="vm" v-on="submit: submit">
            <div class="alert alert-warning alert-dismissible hidden">
                <button type="button" class="close" data-dismiss="alert"><span>&times;</span></button>
                <span class="glyphicon glyphicon-exclamation-sign"></span>
            </div>
            <div class="form-group">
                <label class="font-H" for="for-email">Email</label>
                <div class="input-group">
                    <div class="input-group-addon">
                        <i class="fa fa-envelope-o fa-fw"></i>
                    </div>                           
                    <input v-model="email" name="email" type="text" placeholder="电子邮件" id="for-email" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label class="font-H" for="for-password">Password</label>
                <div class="input-group">
                    <div class="input-group-addon">
                        <i class="fa fa-key fa-fw"></i>
                    </div>                           
                    <input v-model="password" name="password" type="password" placeholder="密码" id="for-password" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <button type="submit"  class="btn btn-block btn-primary"><i class="glyphicon glyphicon-log-in"></i>登录</button>
            </div>
        </form>
        <p>没有账号？不<a href="/register">注册</a>一下吗 </p>
    </div>

{% endblock %}
